doctype html
html
  head
    meta(charset='utf-8')
    title T
  body
    span nanoha
    span fate
    span hayate
    span nanoha
    p fate
    p nanoha
    i.facebook.icon
    .ui.grid
      .four.wide.column
        span nanoha
      .four.wide.column
        span nanoha

//- vi:et:nowrap:sw=2:ts=2
